{% include 'header.html' %}
{% include 'nav.html' %}

<body>
  <div class="flex-container">
    <div class="row">
      <span class="large-font">At some point, Donald Trump probably said (this tweet is not real, it actually is fake news)...</span>
      <ul class="no-bullets">
        <li>{{ trumpian_tweet | safe }}</li>
      </ul>

      <p>Original Tweets:</p>
      <ul>
      {% for original in original_tweets %}
        <li class="spacer"><a class="fancytxt" href="https://twitter.com/{{ screen_name }}/status/{{ original['_id'] }}" target="_blank">Status {{ original['_id'] }}</a></li>
      {% endfor %}
      </ul>

      <div class="flex-container ">
        <button class="button button-large" onClick="window.location.reload()">More Fake News!</button>
      </div>
    </div>
  </div>
</body>
