{% include 'header.html' %}
{% include 'nav.html' %}

<body>
  <div class="flex-container">
    <div class="row">
      <p class="frequency-range">Showing words {{ start + 1 }}-{{ end }} of {{ num_unique_words }} unique words:</p><br>

      <div class="flex-container">
        <table class="freq-table">
          <tr>
            <th>Word</th>
            <th>Count</th>
          </tr>
          {% for word in words %}
          <tr>
            <td>{{ word[0] | safe }}</td>
            <td class="count">{{ word[1] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      {% include 'pagination.html' %}
    </div>
  </div>
</body>
