{% include 'header.html' %}

<body>
  <div class="intro large-font flex-container">
    <div class="row landing-block"> 
      <div class="flex-item">Trumppet is an app that analyzes {{ num_tweets }} of Donald Trump's tweets from {{ start_date }} to today.</div>
      <div class="flex-item"><a class="fancytxt" href="/playback">Playback</a></div>
      <div class="flex-item"><a class="fancytxt" href="/frequency">Frequency</a></div>
      <div class="flex-item"><a class="fancytxt" href="/search">Search</a></div>
      <div class="flex-item"><a class="fancytxt" href="/freestyle">Freestyle</a></div>
      <div class="flex-item">Check out the <a class="fancytxt" href="https://github.com/chrismeyers/trumppet" target="_blank">GitHub repository</a> for more info.</div>
    </div>
  </div>
</body>
