<div class="nav-wrapper nav-bar">
  <div class="title large-font"><a href="/">Trumppet</a></div>
  <div id="menu">MENU</div>
</div>

<div id="menu-items" class="large-font nav nav-bar">
  <div class="flex-item flex-item-header"><a href="/">Home</a></div>
  <div class="flex-item flex-item-header"><a href="/playback">Playback</a></div>
  <div class="flex-item flex-item-header"><a href="/frequency">Frequency</a></div>
  <div class="flex-item flex-item-header"><a href="/search">Search</a></div>
  <div class="flex-item flex-item-header"><a href="/freestyle">Freestyle</a></div>
</div>
