<div class="large-font">
  {% if page > 1 %}
  <a class="plain-link" title="First" href="/{{ request.endpoint }}"><< </a>
  <a class="plain-link" title="Previous" href="/{{ request.endpoint }}?page={{ page - 1 }}"><</a>
  {% endif %}

  Page {{ page }} of {{ num_pages }}

  {% if page < num_pages %}
  <a class="plain-link" title="Next" href="/{{ request.endpoint }}?page={{ page + 1 }}">></a>
  <a class="plain-link" title="Last" href="/{{ request.endpoint }}?page={{ num_pages }}"> >></a>
  {% endif %}
</div>
