{% include 'header.html' %}
{% include 'nav.html' %}

<body>
  <div class="flex-container">
    <div class="row">
      <div class="flex-container large-font">
        <form action="/playback" method="POST">
          <span>Show Donald Trump's last </span>
          <input class="input-text-playback" type="text" name="num" placeholder="({{ num_tweets }} tweets stored)">
          <span>tweets.</span>
          <input class="button" type="submit" value="Show"></button>
        </form>
      </div>

      {% if tweets | length > 1 %}
      <p>Here are the last <b>{{ tweets | length }}</b> tweets: </p>
      {% elif tweets | length == 1 %}
      <p>Here is the most recent tweet: </p>
      {% endif %}

      {% for tweet in tweets %}
        <p>[<a href="https://twitter.com/statuses/{{ tweet['_id'] }}" target="_blank">{{ tweet['created_at'] }}</a>] {{ tweet['full_text'] | safe }}</p>
      {% endfor %}
    </div>
  </div>
</body>
