{% include 'header.html' %}
{% include 'nav.html' %}

<div>
  <div>
    <form action="/playback" method="POST">
      <span>Show Donald Trump's last </span>
      <input type="text" name="num" placeholder="({{ num_tweets }} tweets stored)">
      <span>tweets.</span>
      <input type="submit" value="Go"></button>
    </form>
  </div>

  <p>Here are Donald Trump's last {{ tweets | length }} tweets: </p>
  {% for tweet in tweets %}
    <p><a href="https://twitter.com/statuses/{{ tweet['_id'] }}" target="_blank">[{{ tweet['created_at'] }}]</a> {{ tweet['full_text'] | safe }}</p>
  {% endfor %}
</div>
