div.centered {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  width: 100%;
}

a.fancytxt {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
a.fancytxt:hover {
  color: rgb(91, 183, 91);
}

.match {
  color: red;
}
